#root {
    align-items: flex-start;
    background: rgb(47, 47, 47) !important;
    background: radial-gradient(circle, rgba(47, 47, 47, 1) 0%, rgba(17, 17, 17, 1) 100%) !important;
    border: 1px none;

}

.container-display {
    color: white;
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: var(--font-size-m);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    min-height: 44px;
    display: flex;
}