<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399923654456-v7gn7duqr37m5buc1r5g4l2rjue8r2qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399923654456-v7gn7duqr37m5buc1r5g4l2rjue8r2qn</string>
	<key>API_KEY</key>
	<string>AIzaSyDLBxnuubjAG8CIo2A7Wn78qK2b2THhUn4</string>
	<key>GCM_SENDER_ID</key>
	<string>399923654456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sendZap</string>
	<key>PROJECT_ID</key>
	<string>zap-send-69090</string>
	<key>STORAGE_BUCKET</key>
	<string>zap-send-69090.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399923654456:ios:cda218d5d04e27ab5d5bcd</string>
</dict>
</plist>